@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg: #06202b;
  --primary-text: #ffffff;
  --secondary-text: #000000;
  --primary-hover: #2a4853;
  --secondary-hover: #b8e4f5;
  --secondary-hover-transparent: rgba(184, 228, 245, 0.5);
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--primary-bg);
  color: var(--primary-text);

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
}

h1 {
  margin-bottom: 1rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 4.6rem;
  font-weight: 600;
  line-height: 1.1;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
}
a {
  text-decoration: none;
}
header a {
  color: var(--primary-text);
  font-size: 1rem;
  font-weight: 400;
}
header a:hover {
  color: var(--secondary-hover);
}
.logo {
  background-image: url("image.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 200px;
  height: 50px;
}
.navigation {
  width: 80%;
  padding-bottom: 20px;
  border-bottom: 1px var(--primary-text) solid;
  margin-right: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
}

.hero {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: end;
  align-items: center;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      var(--primary-bg) 85%
    ),
    url("hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Bottom gradient */
section::after {
  content: "";
  position: absolute;

  left: 0;
  right: 0;
  bottom: -100px;
  height: 15%; /* Adjust this percentage to match the gradient length */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--primary-bg));
}
.hero .content {
  width: 600px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20%;
  margin-bottom: 200px;
}
.hero .content p {
  margin-bottom: 2.5rem;
}
.hero-buttons {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.hero-buttons a {
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.1875rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75;
}
.primary-btn {
  border: none;
  color: var(--secondary-text);
  background-color: var(--primary-text);

  transition: background-color 0.2s ease-in-out;
}
.primary-btn:hover {
  background-color: var(--secondary-hover);
}

.secondary-btn {
  border: 1px solid var(--primary-text);
  color: var(--primary-text);
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease-in-out;
}
.secondary-btn:hover {
  background-color: var(--secondary-hover-transparent);
}
